{% extends "base.html" %}
{% block content %}

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ88yUrHYcUimr-N19KWUK5W5PjDLjrzQ&callback=initMap"
	async defer>
    </script>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">

<script type="text/javascript">
var jsondic = JSON.parse({{jsondic}});
console.log(jsondic);
$(document).ready(function () {
    initMap();
});

</script>

</head>


<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Eventos <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
<a class="btn btn-primary" href="/new">
    Crear Evento
    <span style="margin-left: 5px;" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
</a>
<br/>
<br/>


{% if eventos.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Nombre</th>
            <th>Descripci&oacute;n</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalizaci&oacute;n</th>
            <th>Direcci&oacute;n</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.nombre }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{evento.fechaInicio }}</td>
                <td>{{ evento.fechaFin}}</td>
                <td>{{ evento.direccion }}</td>
                <td>
                    <div class="col-sm-4">
                        <a class="btn btn-info" href="/open/{{ evento.key.id()}}">Ver</a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-warning" href="/edit/{{ evento.key.id()}}">Editar</a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-danger" href="/delete/{{ evento.key.id()}}">Borrar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <div class="form-group" style="height: 500px; margin: 10px;">
				<div id="map-canvas" style="width: 100%; height: 100%"></div>
		</div>
    </div>
    
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen eventos todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

      <script type="text/javascript">
      
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }

            }
       
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map-canvas'), {
                    center: new google.maps.LatLng('36.715502', ' -4.477077'),
                    zoom: 15,
                    draggable: true
                });
                
                /*
                
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng('36.715502', '36.715502'),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: '36.715502'
                });
				
                console.log('hola');
                console.log('36.715502');
                
                var infowindow = new google.maps.InfoWindow({
                    content: '36.715502'
                });
                // Adding a click event to the marker
                google.maps.event.addListener(marker, 'click', function () {
                    // Calling the open method of the infoWindow
                    infowindow.open(map, marker);
                });
                
                */
            };
            
            
        </script>   
{% endblock content %}